<div id='detail'>
<p id="notice"><%= notice %></p>

<div id='cusdetail'>
<table rows="11" cols="2" id="custtab">
<tr>
  <td>Name:</td>
  <td><%= @consumer.name %></td>
</tr>

<tr>
  <td>Address:</td>
  <td><%= @consumer.address %></td>
</tr>

<tr>
  <td>City:</td>
  <td><%= @consumer.city %></td>
</tr>

<tr>
  <td>Pin:</td>
  <td><%= @consumer.pin %></td>
</tr>

<tr>
  <td>State:</td>
  <td><%= @consumer.state %></td>
</tr>

<tr>
  <td>Htrhone:</td>
  <td><%= @consumer.hphone %></td>
</tr>

<tr>
  <td>Phone:</td>
  <td><%= @consumer.phone %></td>
</tr>

<tr>
  <td>Mobile:</td>
  <td><%= @consumer.mobile %></td>
</tr>

<tr>
  <td>Email:</td>
  <td><%= @consumer.email %></td>
</tr>

<tr>
  <td>Website:</td>
  <td><%= @consumer.website %></td>
</tr>

<tr>
  <td>Note:</td>
  <td><%= @consumer.note %></td>
</tr>
<tr><td></td><td>
    <div id='navlinks'><%= link_to 'Edit', edit_consumer_path(@consumer) %> </div></td>
</table>
</div>
  <div id='cprod'>
  <table id='prodtab'>
    <tr>
      <th>Product</th>
      <th>Serial No</th>
      <th>Model</th>
      <th>Capacity</th>
      <th>Date Purchased</th>
      <th>Warranty</th>
      <th>Remark</th>
    </tr>
    <%= render :partial => "products/product",
      :collection => @consumer.products %> 
    </table>
  </div>
</div>
