<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @consumer.name %>
</p>

<p>
  <b>Address:</b>
  <%= @consumer.address %>
</p>

<p>
  <b>City:</b>
  <%= @consumer.city %>
</p>

<p>
  <b>Pin:</b>
  <%= @consumer.pin %>
</p>

<p>
  <b>State:</b>
  <%= @consumer.state %>
</p>

<p>
  <b>Hphone:</b>
  <%= @consumer.hphone %>
</p>

<p>
  <b>Phone:</b>
  <%= @consumer.phone %>
</p>

<p>
  <b>Mobile:</b>
  <%= @consumer.mobile %>
</p>

<p>
  <b>Email:</b>
  <%= @consumer.email %>
</p>

<p>
  <b>Website:</b>
  <%= @consumer.website %>
</p>

<p>
  <b>Note:</b>
  <%= @consumer.note %>
</p>


<%= link_to 'Edit', edit_consumer_path(@consumer) %> |
<%= link_to 'Back', consumers_path %>
