<%= form_for [@consumer, Product.new] do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% @product.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :product %><br />
    <%= f.text_field :product %>
  </div>
  <div class="field">
    <%= f.label :slno %><br />
    <%= f.text_field :slno %>
  </div>
  <div class="field">
    <%= f.label :model %><br />
    <%= f.text_field :model %>
  </div>
  <div class="field">
    <%= f.label :capacity %><br />
    <%= f.text_field :capacity %>
  </div>
  <div class="field">
    <%= f.label :datepurchased %><br />
    <%= f.datetime_select :datepurchased %>
  </div>
  <div class="field">
    <%= f.label :warranty %><br />
    <%= f.text_field :warranty %>
  </div>
  <div class="field">
    <%= f.label :remark %><br />
    <%= f.text_area :remark %>
  </div>
  <div class="field">
    <%= f.label :consumer_id %><br />
    <%= f.text_field :consumer_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
